<%- include('partials/header') -%>

<div class="right-container">
  <% if(data.length!=0){%>
  <div class="container2">
   
    <div class="filter-div">
      <p class="filter" onclick="displayDrpdwn()">
        <svg
          class="svg-icon"
          style="
            width: 1em;
            height: 1em;
            vertical-align: middle;
            fill: currentColor;
            overflow: hidden;
          "
          viewBox="0 0 1024 1024"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M426.666667 768h170.666666v-85.333333h-170.666666v85.333333zM128 256v85.333333h768V256H128z m128 298.666667h512v-85.333334H256v85.333334z"
          />
        </svg>
        Filter
      </p>
      <div class="date-dropdown " style="margin-bottom: 20px;">
        <div class="date-dropdownnnn">
          <div>
            <label for="nuron" style="opacity: 1">Nuron : </label>
            <select
              id="nuron"
              onchange="updateChart()"
              style="width: 100%;"
              class="js-example-basic-multiple"
              name="nuron[]" 
    
            >
              <% data.forEach(date => { %>
              <option value="<%- Object.keys(date)[0] %>">
                <%- Object.keys(date)[0] %>
              </option>
              <% }); %>
            </select>
          </div>
         <div>
          <label for="other" style="opacity: 1; margin-top:10px;"><%=isp%> : </label>
          <select
            id="other"
            onchange="updateChart()"
            style="width: 100%; "
            class="js-example-basic-multiple"
            name="other[]"
     
          >
            <% other_data.forEach(date => { %>
            <option value="<%- Object.keys(date)[0] %>">
              <%- Object.keys(date)[0] %>
            </option>
            <% }); %>
          </select>
         </div>
        </div>
        
        
      </div>
    </div>
    <div class="cards-container cards-containerr">
      <div class=" cardd " id="Upload_jitter">
        <div>
          <h4>Upload Jitter <span>(in ms)</span></h4>
          <h1 id="uj"></h1>
        </div>
        <hr/>
        <div>
          <h4><%-isp%> Upload Jitter <span>(in ms)</span></h4>
          <h1 id="ouj"></h1>
        </div>
        
      </div>
      <div class=" cardd " id="uplode_latency">
        <div>
          <h4>Upload Latency <span>(in ms)</span></h4>
          <h1 id="ul"></h1>
        </div>
        <hr/>
        <div>
          <h4><%-isp%> Upload Latency <span>(in ms)</span></h4>
          <h1 id="oul"></h1>
        </div>
        
      </div>
      <div class=" cardd " id="download_itter">
        <div>
          <h4>Download Jitter <span>(in ms)</span></h4>
          <h1 id="dj"></h1>
        </div>
        <hr/>
        <div>
          <h4><%-isp%> Download Jitter <span>(in ms)</span></h4>
          <h1 id="odj"></h1>
        </div>
        
      </div>
      <div class=" cardd " id="download_latency">
        <div>
          <h4>Download Latency <span>(in ms)</span></h4>
          <h1 id="dl" class="dll"></h1>
        </div>
        <hr/>
        <div>
          <h4><%-isp%> Download Latency <span>(in ms)</span></h4>
        <h1 id="odl" class="dll"></h1>
        </div>
        
      </div>
      <div class=" cardd " id="packet_loss">
        <div>
          <h4>Packet Loss %</h4>
        <h1 id="dp"></h1>
        </div>
        <hr/>
        <div>
          <h4><%-isp%> Packet Loss %</h4>
        <h1 id="odp"></h1>
        </div>
        
      </div>
    </div>
    <div class="charts-container">
      <div class="charts">
        <div class="chart-div" id="chart1">
          <div id="chart_div"></div>
        </div>
        <div class="chart-div" id="chart2">
          <div id="avg"></div>
        </div>
        <div class="chart-div" id="chart3">
          <div id="packetloss"></div>
        </div>
        <div class="chart-div" id="chart4">
          <div id="up80"></div>
        </div>
        <div class="chart-div" id="chart5">
          <div id="avgupload"></div>
        </div>
        <div class="chart-div" id="chart6">
          <div id="peakupload"></div>
        </div>
        <div class="chart-div" id="chart7">
          <div id="stream"></div>
        </div>
        <div class="chart-div" id="chart8">
          <div id="loadtime"></div>
        </div>
        <div class="chart-div" id="chart9">
          <div id="bw"></div>
        </div>
        <div class="chart-div" id="chart9">
          <div id="obw"></div>
        </div>
      </div>
    </div>
  </div>
</div>
  <%} else{%>
    <div style="background-image: url(/images/nodata.png); height: 100vh; min-width: 100%;background-repeat: no-repeat;background-size: contain;background-position: center" class="container2">
      <div>
    <%} %>

<!-- charts div -->
</div>
<!-- content div -->

<script>
var speed = `<%-JSON.stringify(speed)%>`;
var data = `<%-JSON.stringify(data)%>`;
var speedDownloadAvgExclFileSlowstart = `<%-JSON.stringify(speedDownloadAvgExclFileSlowstart)%>`;
var chartspeedDownloadPacketLoss = `<%-JSON.stringify(chartspeedDownloadPacketLoss)%>`;
var speedUploadDuration = `<%-JSON.stringify(speedUploadDuration)%>`;
var speedUploadAvgExclFileSlowstart = `<%-JSON.stringify(speedUploadAvgExclFileSlowstart)%>`;
var speedUploadFilePeak = `<%-JSON.stringify(speedUploadFilePeak)%>`;
var streamPr = `<%-JSON.stringify(streamPr)%>`;
var streamQualityPreloadingTime = `<%-JSON.stringify(streamQualityPreloadingTime)%>`;
var browserurl = `<%-JSON.stringify(browserurl)%>`;
//
var other_speed = `<%-JSON.stringify(other_speed)%>`;
var other_data = `<%-JSON.stringify(other_data)%>`;
var other_speedDownloadAvgExclFileSlowstart = `<%-JSON.stringify(other_speedDownloadAvgExclFileSlowstart)%>`;
var other_chartspeedDownloadPacketLoss = `<%-JSON.stringify(other_chartspeedDownloadPacketLoss)%>`;
var other_speedUploadDuration = `<%-JSON.stringify(other_speedUploadDuration)%>`;
var other_speedUploadAvgExclFileSlowstart = `<%-JSON.stringify(other_speedUploadAvgExclFileSlowstart)%>`;
var other_speedUploadFilePeak = `<%-JSON.stringify(other_speedUploadFilePeak)%>`;
var other_streamPr = `<%-JSON.stringify(other_streamPr)%>`;
var other_streamQualityPreloadingTime = `<%-JSON.stringify(other_streamQualityPreloadingTime)%>`;
var isp=`<%-isp%>`
var other_browserurl = `<%-JSON.stringify(other_browserurl)%>`;
//  side nav logout js
function displayDrpdwn() {
  document.querySelector(".date-dropdown").style.display = "block";
  document.querySelector(".filter").style.display = "none";
}

//  top nav logout js
function displayDrpdwn1() {
  document.querySelector(".date-dropdown1").style.display = "block";
  document.querySelector(".filter1").style.display = "none";
}
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Include Select2 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<!-- intojs -->
<script src="/js/nuron_others.js"></script>
</body>
</html>
