<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nethawk - Result Dashboard</title>
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/images/nuron-fevicon.png" />
    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Include Google Charts library -->
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="/css/test1.css" />
    <!-- intro js -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/intro.js@4.2.2/minified/introjs.min.css"
    />
    <script src="https://unpkg.com/intro.js@4.2.2/minified/intro.min.js"></script>
    <!-- bootstrap cdn -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- top nav -->
    <div class="top-nav">
      <div class="fixed-top">
        <div class="collapse" id="navbarToggleExternalContent">
          <div
            class="p-4"
            style="background-color: #a30863; border-bottom: 1px solid #828282"
          >
            <ul class="ulist">
              <li class="list <%= nuron ? 'active' : '' %>" id="l-2">
                <b></b>
                <b></b>
                <a href="/dashboard/nuron">Nuron</a>
              </li>

              <li class="list <%= other ? 'active' : '' %>"  id="l-3">
                <b></b>
                <b></b>
                <a href="/dashboard/others"><%-isp%></a>
              </li>
              <li class="list" id="l-4">
                <b></b>
                <b></b>
                <a href="#">Nuron vs Others</a>
              </li>
            </ul>
            <div class="dropdown11">
              <button class="dropbtn1">
                Nuron_Guest
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </button>
              <div class="dropdown-content1">
                <a href="/logout"
                  >Logout <i class="fa fa-sign-out ml-1" aria-hidden="true"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <nav class="navbar navbar-dark top-nav-style">
          <div class="nuron-logo-div2">
            <img
              src="/images/nuron white logo.png"
              alt="Nuron"
              class="nuron-logo2"
            />
          </div>
          <div class="btn-filter-div">
            <div class="filter-div1">
              <p class="filter1" onclick="displayDrpdwn1()">
                <svg
                  class="svg-icon"
                  style="
                    width: 1em;
                    height: 1em;
                    vertical-align: middle;
                    fill: currentColor;
                    overflow: hidden;
                  "
                  viewBox="0 0 1024 1024"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M426.666667 768h170.666666v-85.333333h-170.666666v85.333333zM128 256v85.333333h768V256H128z m128 298.666667h512v-85.333334H256v85.333334z"
                  />
                </svg>
                Filter
              </p>
              <div class="date-dropdown1">
                <!-- <label for="dateDropdown" style="opacity: 0;"
                  >Select Date:
                </label> -->
                <select
                  id="dateDropdow1"
                  onchange="updateChart()"
                  style="width: 200px"
                  class="js-example-basic-multiple"
                  name="dates[]"
                  multiple="multiple"
                >
                  <% data.forEach(date => { %>
                  <option value="<%- Object.keys(date)[0] %>">
                    <%- Object.keys(date)[0] %>
                  </option>
                  <% }); %>
                </select>
              </div>
            </div>

            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarToggleExternalContent"
              aria-controls="navbarToggleExternalContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </nav>
      </div>
    </div>
    <!-- top nav -->

    <!-- content div -->
    <div class="charts-main-div">
      <!-- side nav -->
      <div class="nav-bar">
        <div class="left-nav-container">
          <div class="nuron-logo-div">
            <img
              src="/images/nuron white logo.png"
              alt="Nuron"
              class="nuron-logo"
            />
          </div>
          <ul>
            <li class="list <%= nuron ? 'active' : '' %>" id="l-2">
              <b></b>
              <b></b>
              <a href="/dashboard/nuron">Nuron</a>
            </li>
            <li class="list <%= other ? 'active' : '' %>"  id="l-3">
              <b></b>
              <b></b>
              <a href="/dashboard/others"><%-isp%></a>
            </li>
            <li class="list" id="l-4">
              <b></b>
              <b></b>
              <a href="#">Nuron vs Others</a>
            </li>
          </ul>

          <div class="dropdown1">
            <button class="dropbtn">
              Nuron_Guest
              <i class="fa fa-angle-up" aria-hidden="true"></i>
            </button>
            <div class="dropdown-content">
              <a href="/logout"
                >Logout <i class="fa fa-sign-out ml-1" aria-hidden="true"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <!-- side nav -->

      <!-- charts div -->
      <div class="right-container">
        <div class="container2">
          <div class="filter-div">
            <p class="filter" onclick="displayDrpdwn()">
              <svg
                class="svg-icon"
                style="
                  width: 1em;
                  height: 1em;
                  vertical-align: middle;
                  fill: currentColor;
                  overflow: hidden;
                "
                viewBox="0 0 1024 1024"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M426.666667 768h170.666666v-85.333333h-170.666666v85.333333zM128 256v85.333333h768V256H128z m128 298.666667h512v-85.333334H256v85.333334z"
                />
              </svg>
              Filter
            </p>
            <div class="date-dropdown">
              <!-- <label for="dateDropdown" style="opacity: 1">Select Date: </label> -->
              <select
                id="dateDropdown"
                onchange="updateChart()"
                style="width: 100%"
                class="js-example-basic-multiple"
                name="dates[]"
                multiple="multiple"
              >
                <% data.forEach(date => { %>
                <option value="<%- Object.keys(date)[0] %>">
                  <%- Object.keys(date)[0] %>
                </option>
                <% }); %>
              </select>
            </div>
          </div>
          <div class="cards-container">
            <div class="card" id="Upload_jitter">
              <h4>Upload Jitter <span>(in ms)</span></h4>
              <h1 id="uj"></h1>
            </div>
            <div class="card" id="uplode_latency">
              <h4>Upload Latency <span>(in ms)</span></h4>
              <h1 id="ul"></h1>
            </div>
            <div class="card" id="download_itter">
              <h4>Download Jitter <span>(in ms)</span></h4>
              <h1 id="dj"></h1>
            </div>
            <div class="card" id="download_latency">
              <h4>Download Latency <span>(in ms)</span></h4>
              <h1 id="dl" class="dll"></h1>
            </div>
            <div class="card" id="packet_loss">
              <h4>Packet Loss %</h4>
              <h1 id="dp"></h1>
            </div>
          </div>
          <div class="charts-container">
            <div class="charts">
              <div class="chart-div" id="chart1">
                <div id="chart_div"></div>
              </div>
              <div class="chart-div" id="chart2">
                <div id="avg"></div>
              </div>
              <div class="chart-div" id="chart3">
                <div id="packetloss"></div>
              </div>
              <div class="chart-div" id="chart4">
                <div id="up80"></div>
              </div>
              <div class="chart-div" id="chart5">
                <div id="avgupload"></div>
              </div>
              <div class="chart-div" id="chart6">
                <div id="peakupload"></div>
              </div>
              <div class="chart-div" id="chart7">
                <div id="stream"></div>
              </div>
              <div class="chart-div" id="chart8">
                <div id="loadtime"></div>
              </div>
              <div class="chart-div" id="chart9">
                <div id="bw"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- charts div -->
    </div>
    <!-- content div -->

    <script>
      var speed = `<%-JSON.stringify(speed)%>`;
      var data = `<%-JSON.stringify(data)%>`;
      var speedDownloadAvgExclFileSlowstart = `<%-JSON.stringify(speedDownloadAvgExclFileSlowstart)%>`;
      var chartspeedDownloadPacketLoss = `<%-JSON.stringify(chartspeedDownloadPacketLoss)%>`;
      var speedUploadDuration = `<%-JSON.stringify(speedUploadDuration)%>`;
      var speedUploadAvgExclFileSlowstart = `<%-JSON.stringify(speedUploadAvgExclFileSlowstart)%>`;
      var speedUploadFilePeak = `<%-JSON.stringify(speedUploadFilePeak)%>`;
      var streamPr = `<%-JSON.stringify(streamPr)%>`;
      var streamQualityPreloadingTime = `<%-JSON.stringify(streamQualityPreloadingTime)%>`;

      var browserurl = `<%-JSON.stringify(browserurl)%>`;
      //  side nav logout js
      function displayDrpdwn() {
        document.querySelector(".date-dropdown").style.display = "block";
        document.querySelector(".filter").style.display = "none";
      }

      //  top nav logout js
      function displayDrpdwn1() {
        document.querySelector(".date-dropdown1").style.display = "block";
        document.querySelector(".filter1").style.display = "none";
      }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include Select2 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <!-- intojs -->
    <script src="/js/test.js"></script>

    <!-- charts js -->
    <script src="/js/chart.js"></script>
  </body>
</html>
